@import "style.css";


.blog{
  &__title{
    margin: 0 0 50px 0;
    @media (max-width: 920px) {
      margin: 0 10px 20px 10px;
      padding: 0 10px 0px 10px;
    }
  }
  &__items{

  }
  &__item{
    border-bottom: 1px solid #E0E0E0;
    padding: 0 0 30px 0;
    margin: 0 0 30px 0;
    &:last-child{
      margin: 0px 0px 0px 0px;
    }
    @media (max-width: 920px) {
      padding: 0 10px 25px 10px;
      margin: 0 10px 25px 10px;
    }
  }
  &__name{
    font-weight: 500;
    font-size: 30px;
    line-height: 44px;
    color: #21243D;
    transition: color 0.3s;
    margin: 0 0 10px 0;
    &:hover{
      color: #4d5390;
    }
    @media (max-width: 920px) {
      font-size: 26px;
    }
  }
  &__text{

  }


  &__info{
    display: flex;
    margin: 0 0 10px 0;
    font-size: 20px;
    @media (max-width: 920px) {
      font-size: 16px;
    }
  }
  &__date{
    font-weight: 400;
    font-size: 20px;
    line-height: 29px;
    color: #21243D;
  }
  &__separator{
    margin: 0 15px;
  }
  &__category{
    font-weight: 400;
    font-size: 20px;
    line-height: 29px;
    color: #8695A4;
  }
}